[submodule "builds/tg2"]
	path = builds/tg2
	url = git@github.com:BhasherBEL/tg2.git
[submodule "builds/focalboard"]
	path = builds/focalboard
	url = git@github.com:BhasherBEL/focalboard.git
[submodule "builds/trakr"]
	path = builds/trakr
	url = git.bhasher.com:Bhasher/trakr.git
